body {
    font-family: 'Zen Dots', cursive;
    background-image: url(../img/bakgrund3.jpg);
    background-size: cover;
    background:grey;
}

.rubriker{
    color: white;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    background: rgb(226, 0, 0);
    transition: 0.7s;
    
}

.rubriker:hover{
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.2);
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    width: 510px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    font-size: 19;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 65%;

}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    
}

.campus-col{
    float: left;
    width: 49%;
    padding: 5px;
    
    
}

row::after{
    content: "";
    clear: both;
    display: table;
}

.campus-col img{
    width: 100%;
    display: block;
    border-radius: 40px;
}

.layer{
    background: transparent;
    height: 455px;
    width: 524px;
    position: absolute;
    top: 297px;
    left: 145px;
    transition: 00.5s;
    border-radius: 40px;
}

.layer2{
    background: transparent;
    height: 455px;
    width: 524px;
    position: absolute;
    top: 297px;
    border-radius: 40px;
}

.layer:hover{
    background: rgba(226, 0, 0, 0.7);

 } 

 .layer2:hover{
    background: rgba(226, 0, 0, 0.7);

 } 



 /*   Text dyker upp första rutan  */

.layer h3{
    width: auto;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 00.5s;
}

.layer:hover h3{
    bottom: 70%;
    opacity: 1;
}

.layer p{
    width: auto;
    font-weight: 100;
    color: transparent;
    font-size: 12px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 00.5s;
    
}

.layer:hover p{
    bottom: 45%;
    opacity: 1;
    color: #fff;
}

/* Text dyker upp andra rutan*/

.layer2 h3{
    width: auto;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 00.5s;
}

.layer2:hover h3{
    bottom: 70%;
    opacity: 1;
}

.layer2 p{
    width: auto;
    font-weight: 100;
    color: transparent;
    font-size: 12px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 00.5s;
    
}

.layer2:hover p{
    bottom: 45%;
    opacity: 1;
    color: #fff;
}






/* ENSAM*/



.container{
    width: 80%;
    margin: 80px auto;
}

.container h1{
    text-align: center;
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
}

.rad{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col{
    flex-basis: 50%;
    min-width: 10%;
}

.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}

.small-img{
    position: relative;    
}

.small-img-row p{
    margin-left: 20px;
    font-size: 12px;
}

.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

video:focus{
    outline: none;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}
